/* Definition der Media Lab Schriften */

/* Roboto Light */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('templates/login/fonts/roboto-v20-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
       url('templates/login/fonts/roboto-v20-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('templates/login/fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('templates/login/fonts/roboto-v20-latin-300.woff') format('woff'), /* Modern Browsers */
       url('templates/login/fonts/roboto-v20-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('templates/login/fonts/roboto-v20-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}


/* Roboto Regular */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('login/fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('templates/login/fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('templates/login/fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('templates/login/fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('templates/login/fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('templates/login/fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}


/* Roboto Bold */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('templates/login/fonts/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('templates/templates/login/fonts/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('templates/login/fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('templates/login/fonts/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('templates/login/fonts/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('templates/login/fonts/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}


/* Roboto Condensed Regular */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('templates/login/fonts/roboto-condensed-v19-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
       url('templates/login/fonts/roboto-condensed-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('templates/login/fonts/roboto-condensed-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('templates/login/fonts/roboto-condensed-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('templates/login/fonts/roboto-condensed-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('templates/login/fonts/roboto-condensed-v19-latin-regular.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}


/* Roboto Condensed Italic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: url('templates/login/fonts/roboto-condensed-v19-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'),
       url('templates/login/fonts/roboto-condensed-v19-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('templates/login/fonts/roboto-condensed-v19-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('templates/login/fonts/roboto-condensed-v19-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('templates/login/fonts/roboto-condensed-v19-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('templates/login/fonts/roboto-condensed-v19-latin-italic.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}


/* Roboto Slab Light */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: url('templates/login/fonts/roboto-slab-v12-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
	   url('templates/login/fonts/roboto-slab-v12-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	   url('templates/login/fonts/roboto-slab-v12-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
	   url('templates/login/fonts/roboto-slab-v12-latin-300.woff') format('woff'), /* Modern Browsers */
	   url('templates/login/fonts/roboto-slab-v12-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
	   url('templates/login/fonts/roboto-slab-v12-latin-300.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}


/* Roboto Slab Regular */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('templates/login/fonts/roboto-slab-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('templates/login/fonts/roboto-slab-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('templates/login/fonts/roboto-slab-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('templates/login/fonts/roboto-slab-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('templates/login/fonts/roboto-slab-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('templates/login/fonts/roboto-slab-v12-latin-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}


/* Roboto Slab Bold */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url('templates/login/fonts/roboto-slab-v12-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('templates/login/fonts/roboto-slab-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('templates/login/fonts/roboto-slab-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('templates/login/fonts/roboto-slab-v12-latin-700.woff') format('woff'), /* Modern Browsers */
       url('templates/login/fonts/roboto-slab-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('templates/login/fonts/roboto-slab-v12-latin-700.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}




/* Standard-Klassen im WP Login-Formulars */

body.login {}
body.login div#login {}
body.login div#login h1 {}
body.login div#login h1 a {}
body.login div#login form#loginform {}
body.login div#login form#loginform p {}
body.login div#login form#loginform p label {}
body.login div#login form#loginform input {}
body.login div#login form#loginform input#user_login {}
body.login div#login form#loginform input#user_pass {}
body.login div#login form#loginform p.forgetmenot {}
body.login div#login form#loginform p.forgetmenot input#rememberme {}
body.login div#login form#loginform p.submit {}
body.login div#login form#loginform p.submit input#wp-submit {}
body.login div#login p#nav {}
body.login div#login p#nav a {}
body.login div#login p#backtoblog {}
body.login div#login p#backtoblog a {}




/* Setzen der Standardschrift und des Backgrounds */



html {
	background-image: none !important;
	margin: 0px;
}



body.login {
	hyphens: auto;
	width: 100% !important;
    height: 100% !important;
	font-family: 'Mucho Sans Regular', serif;
	font-weight: 300;
	color: #707070;
    padding-top: 0px !important;
}




input:-internal-autofill-selected {
	background-color: rgb(247,247,247) !important;
}



main {
	display: flex;
	flex-flow: column;
	margin: 0px;
	padding: 0px;
	background-image: url('../../../assets/img/Background.png') !important;
}


section.media-lab,
section.customer {
	position: relative !important;
    width: 100% !important;
    height: 100% !important;
	margin-top: 0px !important;
	padding: 20px 2% !important;
	padding-top: 10px !important;
	padding-bottom: 50px !important;
}


section.customer {
	order: 1 !important;
}


section.media-lab {
	order: 2 !important;
	font-family: "Roboto";
	color: rgb(247,247,247) !important;
	background-color:#151424;
    background-image: 
    	url('../img/Icon-Quarter.svg'),
    	url('../img/Login-BG.png')
    ;
    background-size: 
    	100px 120px, 
    	55%
    ;
    background-repeat: 
    	no-repeat,
    	no-repeat
    ;
    background-origin: 
    	border-box,
    	border-box
    ;
    background-position: 
    	left bottom,
    	right bottom
    ;   
}


.media-lab .container {
	position: relative;
	width: 100%;
	margin: 50px auto;
}


.contact-infos,
.contact-infos h2 {
	text-align: center !important;
}


.contact-infos .h2__first-row,
.contact-infos .h2__second-row {
	text-align: center !important;
}


.contact-infos .h2__first-row {
	font-size: 1.6rem !important;
	font-weight: bold !important;
	margin-bottom: -5px !important;
}


.contact-infos .h2__first-row {
	color: #a11035 !important;
}


.contact-infos .h2__second-row {
	padding-bottom: 5px !important;
}


.media-lab hr {
	position: relative;
	background-color: #a11035;
	width: 25%;
	text-align: center !important;
	margin: 0px auto !important;

}


.media-lab h2 {
	font-family: 'Roboto Slab' !important;
	font-size: 1.4rem;
	margin-bottom: 2%;
}


.contact-infos a {
	color: #a11035 !important;
	font-weight: bold !important;
}


.contact-description {
	position: relative !important;
	width: 100% !important;
	color: rgb(247,247,247) !important;
	text-align: center !important; 
	margin-top: 60px !important;
}


.contact-description strong {
	color: rgb(247,247,247) !important;
	font-weight: 500 !important;
}


.contact-details {
	margin-top: 20px;
}


.contact-details a {
	color: rgb(247,247,247) !important;
	font-weight: 500 !important;
}


.contact-website {
	font-family: 'Roboto Slab' !important;
	font-size: 1.0rem;
	letter-spacing: 0.1rem;
	margin-top: 20px;
}


.contact-website strong {
	font-family: 'Roboto Slab' !important;
	font-size: 1.2rem;
	font-weight: bold !important;
	letter-spacing: 0.1rem;
}




section.customer {
	
}


.login h1 a {     
    display: block;
	
    min-height: 184px;
	width: 100%;
    
	color: #444;
	font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    text-decoration: none;
    
    text-indent: -9999px;
    outline: 0;
    
    background-image: none;
	background-size: 84px;
	background-position: center top;
	background-repeat: no-repeat;
	
	overflow: hidden;
	
	margin: 0px auto 25px;
	padding: 0;
	
}



/* Logo Bereich */

body.login div#login {
	position: relative;
	width: 100% !important;
	max-width: 450px;
	height: auto !important; 
	margin: auto !important;
}


body.login div#login h1 a {
	position: relative !important;
    width: 100%;
    height: auto !important;
    
	font-size: 4.2rem !important;
	font-weight: 500 !important;
	text-align: center;
	text-transform: uppercase;
	
	background-image: url('../../../assets/img/Logo.svg');
    background-size: contain;
}




/* Setzen der Styles f端r die Links */

body.login div#login a {
	font-weight: 400;
    color: #005576 !important;
}


/* Setzen der Styles f端r das Login-Formular */

form#loginform {
	background-color: rgba(255,255,255,0.6);
	border: 1px solid #707070;
	padding: 15px;
}



/* Setzen der Styles f端r die Feld-Beschriftung */

.login label {
	font-weight: 300;
}



.login .forgetmenot label,
.login .rememberme label {
	font-weight: inherit;
}


.login form#loginform p {
	margin: 20px 15px;
}


/* Setzen der Styles f端r die Felder */

input#user,
input#pass {
	color: #707070 !important;
	border-radius: 0px !important;
	width: 100%;
}


.login form#loginform p.login-remember label {
	font-weight: 500;
}



.wp-core-ui .button, 
.wp-core-ui .button-secondary {
	color: #005576 !important;
}


/* Button Anmelden */

.button-primary,
body.login div#login form#loginform p.submit input#wp-submit {
	color: #ffffff !important;
	font-family: 'Esphimere Bold Italic';
	text-transform: uppercase;
	background-color: #95161C !important;
	border-radius: 0px;
}


.privacy-policy-link {
	color: #95161C;
}







/* ------------------------------------------------------ */
/* ---------------- MOBILE MEDIA QUERIES ---------------- */
/* ------------------------------------------------------ */


@media screen and (min-width: 768px) {
	
	
	main {
		width: 100% !important;
		height: 100% !important;
		display: inline-block !important;
		flex-flow: inherit !important;
	}
	
	
	
	section.media-lab,
	section.customer {
		position: relative !important;
		display: inline-block;
		width: 50% !important;
	    height: 100% !important;
		float: left !important;
		margin-top: 0px !important;
		padding: 20px 2% !important;
		padding-top: 100px !important;
	}
	
	
	section.media-lab {
		position: relative;
		height: 100vh !important;
		font-family: 'Roboto';
		
		color: rgb(247,247,247) !important;
	
		background-color:#151424;
	    
	    background-image: 
	    	url('../img/Icon-Quarter.svg'),
	    	url('../img/Login-BG.png')
	    ;
	    
	    background-size: 
	    	187px 240px, 
	    	contain
	    ;
	    
	    background-repeat: 
	    	no-repeat,
	    	no-repeat
	    ;
	    
	    background-origin: 
	    	border-box,
	    	border-box
	    ;
	
	    background-position: 
	    	left bottom,
	    	right bottom
	    ;
	    
	    border-right: 3px solid #707070;
	    padding-right: 100px !important;
	}	
	
	
	
	.contact-infos,
	.contact-infos h2 {
		text-align: right !important;
	}
	
	
	.contact-infos .h2__first-row,
	.contact-infos .h2__second-row {
		text-align: right !important;
	}
	
	
	.contact-infos .h2__first-row {
		font-size: 1.6rem !important;
		font-weight: bold !important;
		margin-bottom: -5px !important;
	}
	
	
	.contact-infos .h2__first-row {
		color: #a11035 !important;
	}
	
	
	.contact-infos .h2__second-row {
		padding-bottom: 5px !important;
	}
	
	
	.media-lab hr {
		position: relative;
		background-color: #a11035;
		width: 25%;
		text-align: left;
		margin: 0px 0px 0px auto !important;
	
	}
	
	
	.media-lab h2 {
		font-family: 'Roboto Slab' !important;
		font-size: 1.4rem;
		margin-bottom: 2%;
	}
	
	
	.contact-infos a {
		color: #a11035 !important;
		font-weight: bold !important;
	}
	
	
	.contact-description {
		position: relative !important;
		width: 100% !important;
		color: rgb(247,247,247) !important;
		text-align: right !important; 
		margin-top: 60px !important;
		padding-left: 25% !important;
	}
	
	
	.contact-description strong {
		color: rgb(247,247,247) !important;
		font-weight: 500 !important;
	}
	
	
	.contact-details {
		margin-top: 20px;
	}
	
	
	.contact-details a {
		color: rgb(247,247,247) !important;
		font-weight: 500 !important;
	}
	
	
	.contact-website {
		font-family: 'Roboto Slab' !important;
		font-size: 1.0rem;
		letter-spacing: 0.1rem;
		margin-top: 20px;
	}
	
	
	.contact-website strong {
		font-family: 'Roboto Slab' !important;
		font-size: 1.2rem;
		font-weight: bold !important;
		letter-spacing: 0.1rem;
	}
	

	
}
