/* === GLOBAL STYLES === */

/* === General Styles === */

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: $mainGray;
}


.site-body {

}

.site-content {
	padding-top: 100px;
}

.site-intro {

}


.box--left-aligned {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	text-align: left;
	margin: 0;
	margin-bottom: 3.0rem;
	padding: 0;
}

.box--left-aligned article {
	position: relative;
	width: 75%;
	margin-left: 0;
	margin-right: auto;
}

.box--right-aligned {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	text-align: right;
	margin: 0;
	margin-bottom: 3.0rem;
	padding: 0;
}

.box--right-aligned article {
	position: relative;
	width: 75%;
	margin-left: auto;
	margin-right: 0;
}




/* === Image Styles === */

.img__wood-square-before--red:before {
	position: relative;
	display: inline-block;
	top: 15%;
	left: 50%;
	content: url(../images/oak-wood-red.png);
	transform: scale(.5);
}

.img__wood-square-before--red {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	margin-top: -20px !important;
}


.img__wood-square-before--gray:before {
	position: relative;
	display: inline-block;
	top: 15%;
	left: 50%;
	content: url(../images/oak-wood-gray.png);
	transform: scale(.5);
}

.img__wood-square-before--gray {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	margin-top: -20px !important;
}


.img__wood-square-before {
	position: relative;
	display: block;
	height: auto;
	margin-top: -80px !important;
	z-index: -1;
}

img {
	max-width: 100%;
	height: auto;
}

.img__fullwidth {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	margin: 2.0rem 0;
	padding: 0;
}

.img__centered {
	position: relative;
	display: block;
	width: calc(100%-2.0rem);
	height: auto;
	margin: 0 auto;
}

.img__left-aligned {
	position: relative;
	display: block;
	width: 80%;
	height: auto;
	text-align: left;
	margin: 2.0rem 0;
	padding: 0;
}

.img__right-aligned {
	position: relative;
	width: 80%;
	height: auto;
	text-align: right;
	margin: 2.0rem 0;
	padding: 0;
}

.img__project-overview--left-aligned {
	position: relative;
	width: 100%;
	height: auto;
	text-align: left;
	margin: 2.0rem 0;
	margin-left: -1.1rem !important;
	margin-bottom: -5.0rem;
	padding: 0;
}

.img__project-overview--right-aligned {
	position: relative;
	width: 100%;
	height: auto;
	text-align: right;
	margin: 2.0rem 0;
	margin-right: -1.1rem !important;
	margin-bottom: -5.0rem;
	padding: 0;
}

.img__wood-square--red {
	position: relative;
	display: block;
	min-width: 92px;
	max-width: 100%;
	/* min-height: 250px; */
	height: auto;

}

.img__wood-square--gray {
	display: inline-block;
	min-width: 92px;
	max-width: 100%;
	height: auto;
}



.img__project-main {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	margin: 2.0rem -1.0rem;
	padding: 0;
}


.gallery__project-img {
	width: calc(100%+2.0rem) !important;
}

.gallery__project-img img {
	width: calc(100%+2.0rem) !important;
	margin: 2.0rem auto;
}



/* === Button Styles === */

.btn {
	padding: 0.75rem 1.0rem;
	text-transform: lowercase;

	&--red {
		font-size: 0.9rem;
		font-weight: 700;
		text-transform: lowercase;
		color: $brightWhite;
		background-color: $mainRed;
		border: none;
		margin: 1.25rem 0;
		margin-bottom: 2.0rem;
	}

	&--white {
		font-size: 0.9rem;
		font-weight: 700;
		text-transform: lowercase;
		color: $mainRed;
		background-color: $brightWhite;
		border: none;
		margin: 1.25rem 0;
		margin-bottom: 2.0rem;
	}

	&--centered-aligned {
		position: relative;
		display: block;
		text-align: center !important;
		margin: 1.25rem auto;
		margin-bottom: 3.0rem;
	}

}




