/* === GLOBAL STYLES === */

/* === General Styles === */

body {
	font-family: 'Open Sans', sans-serif;
	color: $mainGray;
}




/* === Image Styles === */

img {
	max-width: 100%;
	height: auto;
}


.img__fullwidth {
	position: relative;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}


.img__centered {
	position: relative;
	width: 100%;
	height: auto;
}


.img__left-aligned {
	position: relative;
	width: 95%;
	height: auto;
	text-align: left;
	margin: 0;
	padding: 0;
}


.img__right-aligned {
	position: relative;
	width: 100%;
	height: auto;
	text-align: right;
	margin: 0;
	padding: 0;
}





.img__wood-square--red {
	display: inline-block;
	min-width: 92px;
	max-width: 100%;
	height: auto;
}


.img__wood-square--gray {
	display: inline-block;
	min-width: 92px;
	max-width: 100%;
	height: auto;
}


/* === Button Styles === */
.btn {
	padding: 0.75rem 1.0rem;

	&--red {
		font-size: 0.9rem;
		font-weight: 700;
		text-transform: lowercase;
		color: $brightWhite;
		background-color: $mainRed;
		border: none;
		margin: 1.25rem 0;
	}



	&--centered-aligned {
		position: relative;
		text-align: center !important;
		margin: 1.25rem auto;
	}


}
