/* === HEADER === */
.header {
	position: relative;
	display: block;
	width: 100%;
	padding-left: 18px;
	padding-right: 18px;

	&-logo {
		position: relative;
		display: inline-block;
		padding-top: 18px;
	}

	&-logo__img {
		position: relative;
		width: auto;
	}

}





/* === Main Navigation === */

.main-navigation  {
	display: inline-block;
	width: auto;
}


/* === Navigation Menu === */

menu.site-menu {
	position: relative;
	margin-top: -5px;
}


/* --- Navigation Menu --- */
.navbar  {
	display: none;
}


.main-navigation.is-active {

}


.is-active .navbar {
	position: absolute;
	display: block;
	width: 100vw;
	height: 100%;
	left: 0px;
	background: rgba(255,255,255,0.8);
	transition: 0.8s;
}


.is-active .navbar li a {
	font-size: 1.6rem;
	line-height: 1.8rem;
	font-weight: 700;
	text-transform: lowercase;
	color: $darkGray;
	margin: 0;
	padding-left: 0.5rem;
}

.is-active .navbar .navbar-item__submenu li a {
	font-size: 1.4rem;
	line-height: 1.6rem;
	font-weight: 500;
	text-transform: lowercase;
	margin: 0;
	padding-left: 2.0rem;
}



/* === Burger Menu === */
.burger-menu {
	position: relative;
	display: inline-block;
	width: 35px;
	height: 35px;
	margin-left: auto;
	margin-right: auto;
	transition: border-radius .5s;
}

.line {
	position: absolute;
	display: block;
	height: 3px;
	width: 30px;
	left: 10px;
	background: $darkGray;
	margin-top: 0;
	transition: 0.5s;
	transform-origin: center;
}

.line:nth-child(1) { top: 10px; }
.line:nth-child(2) { top: 20px; }
.line:nth-child(3) { top: 30px; }

/* --- Burger Menu Animation  --- */
.burger-menu.checked .line:nth-child(1){
	 transform: translateY(10px) rotate(-45deg);
}

.burger-menu.checked .line:nth-child(2){
	 opacity:0;
}

.burger-menu.checked .line:nth-child(3){
	 transform: translateY(-10px) rotate(45deg);
}

