/* === HEADER === */
.header {
  position: relative;
  display: block;
  width: 100%;
  padding-left: 18px;
  padding-right: 18px;

  &-logo {
    position: relative;
    display: inline-block;
    padding-top: 18px;
  }

  &-logo__img {
    position: relative;
    width: auto;
  }
}

/* --- Navigation Menu --- */

.main-navigation  {
  display: inline-block;
  width: auto;
}

menu.site-menu {
  position: relative;
  margin-top: -5px;
}

.navbar  {
  display: none;
}

.navbar__navigation-list {
  list-style-type: none;
}

.navbar-item__submenu {
  list-style-type: none;
}

.is-active .navbar {
  position: absolute !important;
  display: block;
  width: 100vw;
  height: 100%;
  left: 0px !important;
  background: rgba(255,255,255,0.9);
  transition: 0.8s;
  z-index: 1 !important;
}

.is-active .navbar a {
  position: relative;
  display: block;
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: 700;
  text-transform: lowercase;
  text-decoration: none;
  color: #707173;
  list-style-type: none;
  margin: 1.0rem 0;
}

.is-active .navbar .navbar-item .has-dropdown a {
  font-size: 1.4rem;
  line-height: 2.6rem;
  font-weight: 500;
  text-transform: lowercase;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
}

/* === Burger Menu === */
.burger-menu {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  transition: border-radius 0.5s;
}

.line {
  position: absolute;
  display: block;
  height: 3px;
  width: 30px;
  left: -10px;
  background: $darkGray;
  margin-top: 0;
  transition: 0.5s;
  transform-origin: center;
}

.line:nth-child(1) {
  top: 10px;
}
.line:nth-child(2) {
  top: 20px;
}
.line:nth-child(3) {
  top: 30px;
}

/* --- Burger Menu Animation  --- */
.burger-menu.checked .line:nth-child(1) {
  transform: translateY(10px) rotate(-45deg);
}

.burger-menu.checked .line:nth-child(2) {
  opacity: 0;
}

.burger-menu.checked .line:nth-child(3) {
  transform: translateY(-10px) rotate(45deg);
}
