/* === INFO SECTION === */
.info-section {
	width: 80%;
	margin-top: 10.0rem;
	margin-bottom: 5.0rem;


	&__title {
		font-size: 1.8rem;
		line-height: 2.0rem;
		margin-bottom: 0.5rem;
	}

	&__subtitle {
		font-size: 0.8rem;
		font-weight: 500;
		line-height: 1.2rem;
		letter-spacing: 0.1rem;
		color: $mainRed;
		margin: 0;
		margin-bottom: 1.5rem;
	}

	&__content {
		line-height: 2.0rem;
	}



}

