/* === INTRO SECTION === */
.intro {
	margin-top: 10.0rem;
	margin-bottom: 5.0rem;

	&__headline {
		margin-bottom: 0.25rem;
	}

	&__subtitle {
		margin-bottom: 1.25rem;
	}


	&__company-listing {
		list-style-image: none;
		padding-left: 10px !important;
	}

	&__list-item {
		display: grid;

		grid-template-columns: 1fr 1fr;
		column-gap: 15px;
		align-items: center;
		margin-bottom: 1.0rem;
	}

	&__list-item--tischlerei {
		grid-template-columns: 1fr 2fr;
		text-align: left;
	}

	&__list-img .img__wood-square--red {
		padding-right: 50px !important;
	}


	&__list-item--bestattung {
		grid-template-columns: 2fr 1fr;
		text-align: right;
	}


	&__list-img {
		position: relative;
		display: block;
		min-width: 92px;
		max-width: 30%;
		max-height: 92px;
		height: auto;
	}


	&__list-img .img__wood-square--gray {
		padding-left: 50px !important;
	}



	&__list-content {
		display: inline-block;
		padding: 0.5rem;
		padding-top: 0.0rem;
	}


	&__list-title {
		font-size: 1.6rem;
		line-height: 1.6rem;
		color: $darkGray;
		margin-bottom: auto;
		margin-top: 1.5rem;
		margin-bottom: 0.5rem;
	}


	&__list-subtitle {
		position: relative;
		width: 100%;
		font-size: 0.8rem;
		font-weight: 500;
		letter-spacing: 0.1rem;
		color: $mainRed;
		margin: 0;
		margin-bottom: 1.5rem;
	}

}

/* === General Hover Styles === */

span.hover__alt-text {
	opacity: 0;
}

.intro {

	&__list-subtitle:hover span.hover__default-text {
		display: none;
	}

	&__list-subtitle:hover span.hover__alt-text {
		display: block;
		opacity: 1;
		transition-duration: .3s;
	}





	&__company-listing-separator {
		height: 1px;
		background-color: $mainGray;
		margin: 2.0rem 0.0rem;
	}

}
