/* === RECALL SECTION === */
.recall-section {
	color: $brightWhite;
	background-color: $mainGray;
	margin: 30px 0px;

	padding: 0.0rem;

	&__img {
		width: 100%;
		height: auto;
		margin-bottom: 10px;
	}

	&__container {
		color: $brightWhite;
		background-color: $mainGray;
		margin: 30px 18px;
		padding-top: 50px !important;
		padding-bottom: 50px !important;
	}

	&__title {
		width: 80%;
		font-size: 1.6rem;
		line-height: 1.8rem;
		margin-bottom: 0.5rem;
		text-transform: lowercase;
	}

	&__text {

	}

	&__form {
		position: relative;
		width: 100%;
	}

	&__form ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		font-weight: 100;
		font-size: 0.8rem;
		color: $brightWhite;
		opacity: 0.7; /* Firefox */
	}

	input:focus {
		 outline:none;
	}

	&__form-item {
		position: relative;
		width: 100%;
		color: $brightWhite !important;
		background-color: transparent;
		box-shadow: none;
		border: none;
		padding: 0.25rem;
		border-bottom: 1px solid $brightWhite;
		padding-bottom: 0.5rem;
		margin: 1.5rem auto;
	}


	&__form-item-name {

	}

	&__form-item-phonenumber {

	}

	&__form-label-dsgvo-acceptance {
		padding-left: -10px;
	}

	input[type="checkbox"] {
		position: relative;
		left: 1.0rem;
		top: -2px;
		vertical-align: baseline;
		margin-top: -2px !important;
		z-index: 0;
		-webkit-appearance: none;
	}

	input[type="checkbox"]::before {
		width: 12px;
		height: 12px;
		border-radius: 0;
		border: 1px solid #fff  !important;
		background-color: transparent !important;
		display: block;
		content: "";
		float: left !important;
		margin-right: 15px !important;
		left: -.25rem !important;
		z-index: 5 !important;
		position: relative;
	}

	input[type="checkbox"]:checked:after {
		content: "";
		display: block;
		width: 4px !important;
		height: 10px!important;
		border: solid #fff!important;
		border-width: 0 1px 1px 0!important;
		transform: rotate(45deg);
		position: absolute;
		top: 0px !important;
		left: -1px !important;
		margin-left: 2px !important;
	}

	&__form-item-dsgvo-acceptance {
		display: inline-block;
		font-weight: 100;
		font-size: 0.8rem;
		line-height: 1.4rem;
		color: $brightWhite;
		opacity: 1.0; /* Firefox */
		margin-top: -1.4rem;
		padding-left: 2.0rem;
	}

	&__form-item-dsgvo-acceptance a {
		font-weight: 500;
		font-size: 0.8rem;
		color: $brightWhite;
		opacity: 1.0; /* Firefox */
		text-decoration: none;
	}

	&__btn {
		position: relative !important;
		width: fit-content;
		display: block;
		text-align: center;
		color: $mainRed;
		text-decoration: none !important;
		background-color: $brightWhite;
		margin-top: 2.5rem;
		padding: 1rem 1.5rem !important;
	}




}

