/* === SITE-HEADER === */
.site-header {
  position: relative;
  display: flex;
  width: 100%;
  /* min-height: 1.6rem; */
  height: auto;
  background-color: rgba($brightWhite, 1.00) !important;
  background-color: #ffffff !important;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 0.25rem;
  z-index: 100 !important;

  @mixin atMedium {

  }

  &--is-active {
    background-color: rgba($brightWhite, 0.55) !important;
  }

  @mixin atMedium {
    position: fixed;
    top: 0px;
    height: 70px;
    background-color: rgba($brightWhite, 0.75) !important;
  }

  @mixin atLarge {
    position: fixed;
    top: 0px;
    background-color: rgba($brightWhite, 1.00);
    /* box-shadow: 0px 3px 22px -3px #000000; */

    &--dark {
      background-color: rgba($brightWhite, 0.85) !important;
    }
  }

  &__branding {
    display: inline;
    width: 100%;
    padding-left: -18px;
    padding-right: -18px;
    margin-left: -18px;

    @mixin atMedium {
      display: inline-flex;
      width: auto;
    }
  }

  &__logo {
    position: relative;
    display: inline-block;
    padding-top: 18px;
    transition: transform 0.3s ease-out;

    @mixin atMedium {
      left: auto;
      transform: translateX(0);

      .site-header--dark & {
        transform: scale(0.85);
      }
    }
  }

  &__logo-img {
    position: relative;
    width: auto;
  }
}
