/* === TEXT STYLES === */

.h1 {

	&__title {
		font-size: 2.0rem;
		font-weight: 700;
		line-height: 2.0rem;
		text-transform: lowercase;
		margin: 0;
	}

	&__title--right-aligned {
		text-align: right;
	}


	&__subtitle {
		font-size: 0.8rem;
		font-weight: 500;
		line-height: 1.4rem;
		letter-spacing: 0.05rem;
		color: $mainRed;
		margin: 0;
	}

	&__subtitle--right-aligned {
		text-align: right;
	}

}



.h2 {

	&__title {
		font-size: 31px;
		font-size: 1.2rem;
		font-weight: 700;
		line-height: 40px;
		letter-spacing: 0.1rem;
		text-transform: lowercase;
		margin: 0;
	}


	&__subtitle--left-aligned {
		text-align: left !important;
		padding-left: 0.25rem;
		padding-right: 25%;
	}


	&__subtitle--right-aligned {
		text-align: right !important;
		padding-right: 0.25rem;
		padding-left: 25%;
	}



}


.h3 {

	&__title {
		font-size: 25px;
		font-size: 1.1rem;
		font-weight: 700;
		margin: 0;

		line-height: 32px;
		letter-spacing: 10px;
		text-transform: lowercase;
	}

}