/* === TEXT STYLES === */

/* === General Text Styles === */
.site-title {

}

/* --- Highlighted Text --- */
.letter-colored--red {
	color: #b6274f;
}


.text--underlined {
	text-decoration: underline;
}


/* --- Article Styles --- */
article p {
	line-height: 2.4rem;
}


/* --- Cite Styles --- */
.cite__project-special {
	position: relative;
	display: block;
	width: 80%;
	font-size: 1.2rem;
	font-weight: 300;
	line-height: 2.4rem;
	text-align: center !important;
	margin: 5.0rem auto !important;
}


/* --- List Styles --- */
ul {
	list-style-type: square;
	color: #707173;
}



/* === Heading Styles === */
.h1 {

	&__title {
		font-size: 3.0rem;
		font-weight: 700;
		line-height: 3.0rem;
		text-transform: lowercase;
		letter-spacing: 0.10rem;
		margin: 1.0rem 0;
		padding-left: 1.0rem;
	}

	&__title--left-aligned {
		text-align: left;
		padding-left: 1.0rem;
	}

	&__title--right-aligned {
		text-align: right;
		padding-right: 1.0rem;
	}

	&__subtitle {
		font-size: 1.0rem;
		font-weight: 500;
		line-height: 1.4rem;
		letter-spacing: 0.05rem;
		text-transform: lowercase;
		color: $mainRed;
		margin: 0;
		margin-top: 1.0rem;
		margin-bottom: 2.0rem;
	}

	&__subtitle--left-aligned {
		text-align: left;
		padding-left: 1.0rem;
	}

	&__subtitle--right-aligned {
		text-align: right;
	}

}



.h2 {

	&__heading {
		font-size: 2.2rem;
		font-weight: 700;
		line-height: 2.6rem;
		letter-spacing: 0.1rem;
		text-transform: lowercase;
		margin: 0;
		margin-top: 4.0rem;
		padding-top: 2.0rem;
		padding-bottom: 1.0rem;
	}

	&__heading--left-aligned {
		text-align: left !important;
		padding-left: 0.25rem;
		padding-right: 25%;
	}

	&__heading--right-aligned {
		text-align: right !important;
		padding-right: 0.25rem;
		padding-left: 25%;
	}

	&__subheading {
		font-size: 1.0rem;
		font-weight: 500;
		line-height: 1.4rem;
		letter-spacing: 0.05rem;
		color: $mainRed;
		margin: 0;
		margin-top: 0.0rem;
		margin-bottom: 1.0rem;
	}

	&__subheading--left-aligned {
		text-align: left !important;
		padding-left: 0.25rem;
		padding-right: 25%;
	}

	&__subheading--right-aligned {
		text-align: right !important;
		padding-right: 0.25rem;
		padding-left: 25%;
	}

}


.h3 {

	&__heading {
		font-size: 1.4rem;
		font-weight: 700;
		line-height: 1.6rem;
		text-transform: lowercase;
		letter-spacing: 0.1rem;
		margin: 0;
		padding-top: 1.0rem;
		padding-bottom: 2.0rem;
	}

}

.subheading {
	font-size: 0.8rem;
	font-weight: 500;
	line-height: 1.4rem;
	letter-spacing: 0.05rem;
	color: $mainRed;
	margin: 0;
}


